.body {
  overflow: auto;
  background-color: #081630;
}

.heading {
  margin-top: 130px;
  margin-bottom: 40px;
  font-family: Barlow, sans-serif;
  color: #fff;
  font-size: 38px;
  line-height: 1.4em;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.image {
  display: block;
  width: 140px;
}

.section {
  position: relative;
  z-index: -2;
  height: 160vh;
  margin-top: -600px;
  background-image: url('../images/Group-26.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.image-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#081630));
  background-image: linear-gradient(180deg, #fff, #081630);
}

.div-block {
  width: 100%;
  height: 100%;
}

.container {
  padding: 0px 20px 40px;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  position: static;
  display: inline-block;
  padding: 20px;
  clear: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Barlow, sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  font-weight: 700;
}

.nav-link._2 {
  padding-right: 140px;
}

.nav-link-2 {
  color: #fff;
}

.image-3 {
  height: 35px;
  margin-top: 10px;
  padding-left: 20px;
}

.video {
  display: none;
  width: 90%;
  margin-top: -500px;
  margin-bottom: 200px;
  border: 2px solid #000;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.heading-2 {
  font-family: Barlow, sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-family: Barlow, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 200;
}

.paragraph.founder {
  max-width: 800px;
  padding-top: 50px;
  font-size: 27px;
  line-height: 34px;
  font-weight: 400;
}

.col-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col-height._2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  padding-right: 50px;
  padding-left: 50px;
}

.image-4 {
  height: 125%;
}

.container-3 {
  margin-bottom: 100px;
}

.image-5 {
  width: 100%;
  margin-top: -200px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 16px;
  font-weight: 400;
}

.image-6 {
  padding: 10px;
}

.paragraph-2 {
  padding-top: 8px;
  color: #949494;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

.div-block-2 {
  margin-top: -600px;
  margin-bottom: 500px;
  padding-bottom: 0px;
}

.rich-text-block {
  color: #fff;
  text-align: left;
}

.heading-4 {
  color: #fff;
  text-align: left;
}

.section-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.container-5 {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .heading {
    text-align: center;
  }
  .image {
    text-align: left;
  }
  .link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    margin-top: 54px;
    font-size: 31px;
    text-align: center;
  }
  .image {
    width: 180px;
    text-align: left;
  }
  .paragraph.founder {
    padding: 30px 25px 15px 15px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }
  .col-height {
    height: 400px;
  }
  .image-4 {
    height: 100%;
  }
  .image-5 {
    margin-top: 0px;
  }
  .image-6 {
    margin-bottom: 50px;
    padding: 27px;
  }
  .paragraph-2 {
    text-align: center;
  }
  .div-block-2 {
    margin-top: -400px;
    margin-bottom: 100px;
  }
  .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .icon {
    color: #fff;
  }
  .nav-menu {
    background-color: hsla(0, 0%, 78.4%, 0.2);
  }
  .menu-button {
    background-color: hsla(0, 0%, 78.4%, 0.2);
  }
}

